@using System.Security.Claims
@model IEnumerable<Exam>


@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .logoutLblPos {
        position: fixed;
        right: 10px;
        top: 5px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<div class="col-6">
    <h2 class="text-info">Exams</h2>

</div>
<div class="col-2 offset-3">

    <a asp-action="Show" asp-controller="Users" class="btn btn-info form-control text-white">
        Back To Users List
    </a>
    <p></p>


</div>
<div>
   
    <table>
        <tr>
            
            <td>
                <p>Surname</p>
            </td>
            <td>
                <p>Subject</p>
            </td>
            <td>
                <p>Grade</p>
            </td>
            <td>
                <p>Speciality</p>
            </td>
            <td>
                <p>Teacher</p>
            </td>
           
        </tr>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                
            </tr>
        }
